.grid-container {
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 320px;
    grid-template-rows: 1fr;
    grid-gap: 15px 15px;
    grid-template-areas: "main sidebar";
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  .main {
    grid-area: main;
  }
  
  .post-width {
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    color: #878a8c;
    position: relative;
    border-radius: 4px;
    padding: 5px;
    width: 90vw !important;
    margin-left: 30px !important;
  }
  
  .search-comm {
    background-color: #dae0e6;
    min-height: 100vh;
    flex-grow: 2;
  }
  